.header{
    position: fixed;
    left: 244px;
    top: 0;
    padding-left: 50px;
    z-index: 1000;
    height: 384px;
    width: 100%;
    background: #1C1C1C;
}

.input_avatar_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.avatar_block{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.user_name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 16px;
}

.search{
    width: 80%;
    height: 51px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #4E4E4E;
    outline: none;
    color: #ffffff;
    margin-top: 20px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
}

.search::-webkit-input-placeholder { color: #ffffff; }
.search::-moz-placeholder { color: #ffffff; } /* Firefox 19+ */
.search:-moz-placeholder { color: #ffffff; } /* Firefox 18- */
.search:-ms-input-placeholder { color: #ffffff }

.search_icon{
position: absolute;
top: 37px;
left: 57px;
z-index: 1300;
}

.avatar{
  width: 43px;
  height: 43px;
  background-color: #313131;
  border-radius: 50%;
}

.header_title{
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    margin-top: 51px;
}

.search_by_block{
  display: flex;
  align-items: center;
  margin-top: 51px;
  gap: 10px;
}

.search_by{
  font-size: 16px;
  line-height: 24px;
}

.search_by_button{
  height: 39px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  background: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0,2s;
}

.search_by_songer{
  margin-left: 15px;
}

.search_by_date{
  margin-left: 10px;
}

.search_by_genre{
  margin-left: 10px;
}

.search_by_button:hover{
  border: 1px solid #D9B6FF;
  cursor: pointer;
  color: #D9B6FF;
}

.search_by_button_active{
  height: 39px;
  border-radius: 60px;
  background: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
  transition: all 0,2s;
  border: 1px solid #AD61FF;
  cursor: pointer;
  color: #AD61FF;
}

.header_tracks_wrap{
  min-width: 1090px;
  max-width: 1200px;
  margin-top: 51px;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: start;
  margin-bottom: 24px;
}

.playlist-title__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.col01 {
  width: 490px;
}

.col02 {
  width: 365px;
}

.col03 {
  width: 332px;
}

.filter_icon {
  position: absolute;
  top: 300px;
  background-color: #313131;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 300px;
}

.filter_icon_author {
  left: 130px;
}

.filter_icon_year {
  left: 280px;
}

.filter_icon_genre {
  left: 430px;
}

.icon_filter {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color:#FFFFFF;
  background-color: #313131;
  border: 12px #313131;
  cursor: pointer;
}

.icon_filter_chouse {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #313131;
  border: 12px #313131;
  cursor: pointer;
  color: #B672FF;
  text-decoration-line: underline;
}

.icon_counter_display {
  display: none;
}

.icon_counter_author {
  position: absolute;
  top: 300px;
  background-color: #AD61FF;
  border-radius: 50%;
  width: 26px;
  color:#FFFFFF;
  height: 26px;
  top: 240px;
  left: 125px;
  text-align: center;
  line-height: 26px;
}

.icon_counter_year {
  position: absolute;
  top: 300px;
  background-color: #AD61FF;
  border-radius: 50%;
  width: 26px;
  color:#FFFFFF;
  height: 26px;
  top: 240px;
  left: 276px;
  text-align: center;
  line-height: 26px;
}

.icon_counter_genre {
  position: absolute;
  top: 300px;
  background-color: #AD61FF;
  border-radius: 50%;
  width: 26px;
  color:#FFFFFF;
  height: 26px;
  top: 240px;
  left: 425px;
  text-align: center;
  line-height: 26px;
}